@model Frontend_Project.ViewModel.SessionDetailDTO


@Html.HiddenFor(x=>x.auditing_Session_ID)
@Html.HiddenFor(x=>x.study_Group_ID)



    <div class="mb-3">
    <label for="exampleFormControlSelect2" class="form-label">Instructor</label>

        <select class="form-select" asp-for="Instructor_ID">
            <!--onclick="SelectChange()"-->
            <option>Open this select menu</option>
            @if(Model.StudentsAttendedList.Count>0)
            {
            foreach (var item in Model.InstructorList)
            {
                if (item.Id != 0)
                {
                    <option style="color: green;" value="@item.Id">@item.NameAr</option>
                }
                else
                {
                    <option style="color: red;" value="@item.Id">@item.NameAr</option>
                }

            }
            }
        </select>
        <span style="color:red" asp-validation-for="RoundCode"></span>
        <div class="form-text"> You can use letters, numbers & periods </div>
    </div>

<div class="list-group">
            @Html.HiddenFor(x=>x.reportStart)
            @if(Model.StudentsAttendedList.Count>0)
            {
               
                 for(int i=0 ; i< Model.StudentsAttendedList.Count() ; i++){
                    <label class="list-group-item">
                        @Html.HiddenFor(x=>x.StudentsAttendedList[i].Id)
                        @Html.HiddenFor(x=>x.StudentsAttendedList[i].NameAr)
                        @Html.HiddenFor(x=>x.StudentsAttendedList[i].NameEN)
                         <input class="form-check-input me-1" asp-for="StudentsAttendedList[i].attend" type="checkbox" value="true">
                        @Model.StudentsAttendedList[i].NameAr
                    </label>
                }

            }else{

                    <label class="list-group-item">
                             There is no student in this session
                    </label>
            }
        </div>


